@{
    ViewData["Title"] = "Lists";
}
<div class="Centerlisting">
<h1>@ViewData["Title"]</h1>
<h1>jouw lijsten</h1>
@if(ViewBag.playlists != null){
 @foreach(var playlist in ViewBag.playlists)
 {
     <div>
      <p>@{@playlist.Playlist}</p>
     </div>
     <div>
         @foreach(var song in playlist)
         {
             <p>@{@song.Song}</p>
             <input type="Button" value="Delete" onclick="Deletesong(@song.Song)" />
         }
     </div>
 }
}
</div>
<div class="Listingbot">
    @if (ViewBag.songlist != null)
    {
        @*@{@string username = ViewBag.user;}*@
        <input type="Button" value="Saveplaylist" onclick="save('@ViewBag.user')" />
        <input type="Button" value="Duration" onclick="duration(@ViewBag.duration)" />
        @foreach (var item in ViewBag.songlist)
        {
            <p>Song@{@item.Name}</p>
            <p>Dur @{@item.Duration}</p>
            <input type="Button" value="Remove" onclick="Removefromqueue(@item.Id)"/>

        }
    }

</div>
