@{
    ViewData["Title"] = "Lists";
}
<div class="Centerlisting">
<h1>@ViewData["Title"]</h1>
<h1>jouw lijsten</h1>
@if(ViewBag.playlists != null){
@foreach (var playlist in ViewBag.playlistname)
 {  if( playlist.User == ViewBag.user){
     <div>
      <p>playlist @{@playlist.Playlistname1}</p>
      <input type="Button" value="Update" onclick="Updatename(@playlist.Id)" />
     </div>
     <div>
         @foreach(var song in ViewBag.playlists)
         {
             <p>Name @{@song.Song}</p>
             <input type="Button" value="Delete" onclick="Deletesong(@song.Id)" />
             <p>---------</p>
         }
     </div>
     <div>
              <input type="Button" value="Add more" onclick="Addsongplaylist(@playlist.Id)" />
     </div>
     }
 }
}
</div>
<div class="Listingbot">
    @if (ViewBag.songlist != null)
    {
        int i = 0;

        <input type="Button" value="Saveplaylist" onclick="save(@ViewBag.userdes)" />
        <input type="Button" value="Duration" onclick="duration(@ViewBag.duration)" />
        @foreach (var item in ViewBag.songlist)
        { 
            <p>Song@{@item.Name}</p>
            <p>Dur @{@item.Duration}</p>
            @*<input type="Button" value="Remove" onclick="Removefromqueue(@i)"/>*@
            
        }
    }

</div>
